<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="author" content="Sebastian Malek">

    <title>Sebastian Malek &ndash; Portfolio</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/portfolio.css">
  </head>
  <body>
    <div class="container">
        <h1>Portfolio</h1>
        <section>
            <h2>looking-glass</h2>
            <p>Simple looking glass written in Rust.</p>
        </section>
        <section>
            <h2>finance-collector</h2>
            <p>Queries stock prices and writes them into an InfluxDB database. Compatibile with Grafana.</p>
        </section>
        <section>
            <h2>virt-api</h2>
            <p>RESTful API for managing KVM/QEMU virtual machines.</p>
        </section>
        <section>
            <h2>invoices-app</h2>
            <p>Self-hosted invoices app made with Django.</p>
        </section>
    </div>
  </body>
</html>
